/Chapter#7-#9/SportsStore/SportsStore.Domain/bin/Debug
/Chapter#7-#9/SportsStore/SportsStore.Domain/obj/Debug
/Chapter#7-#9/SportsStore/SportsStore.WebUI.Tests/bin/Debug
/Chapter#7-#9/SportsStore/SportsStore.WebUI.Tests/obj/Debug
/Chapter#7-#10/SportsStore/SportsStore.WebUI/bin
