/Chapter#7-#11/SportsStore/SportsStore.WebUI/bin
/Chapter#7-#11/SportsStore/SportsStore.Domain/bin/Debug
/Chapter#7-#11/SportsStore/SportsStore.Domain/obj/Debug
/Chapter#7-#11/SportsStore/SportsStore.WebUI/obj/Debug
/Chapter#7-#11/SportsStore/SportsStore.WebUI.Tests/bin/Debug
/Chapter#7-#11/SportsStore/SportsStore.WebUI.Tests/obj/Debug
/Chapter#6/EssentialTool/EssentialTool.Tests/bin/Debug

/Chapter#13/UrlsAndRoutes/UrlsAndRoutes.Tests/bin/Debug
/Chapter#13/UrlsAndRoutes/UrlsAndRoutes.Tests/obj/Debug
/Chapter#13/UrlsAndRoutes/UrlsAndRoutes/obj/Debug
/Chapter#13/UrlsAndRoutes/UrlsAndRoutes/bin
/Chapter#15/ControllersAndRoutes/ControllersAndRoutes.Tests/obj/Debug
/Chapter#15/ControllersAndRoutes/ControllersAndRoutes.Tests/bin/Debug
/Chapter#15/ControllersAndRoutes/ControllersAndRoutes/bin
/Chapter#15/ControllersAndRoutes/ControllersAndRoutes/obj/Debug
/Chapter#15/ControllersAndRoutes/packages/Microsoft.AspNet.Mvc.4.0.30506.0
/Chapter#15/ControllersAndRoutes/packages/Microsoft.AspNet.Mvc.FixedDisplayModes.1.0.0
/Chapter#15/ControllersAndRoutes/packages/Microsoft.AspNet.Mvc.ru.4.0.30506.0
/Chapter#15/ControllersAndRoutes/packages/Microsoft.AspNet.WebApi.Client.4.0.30506.0/lib/net40
/Chapter#15/ControllersAndRoutes/packages/Microsoft.AspNet.Razor.2.0.30506.0
/Chapter#15/ControllersAndRoutes/packages/Microsoft.AspNet.Razor.ru.2.0.30506.0
/Chapter#15/ControllersAndRoutes/packages/Microsoft.AspNet.WebApi.Core.4.0.30506.0
/Chapter#15/ControllersAndRoutes/packages/Microsoft.AspNet.WebApi.4.0.30506.0/Microsoft.AspNet.WebApi.4.0.30506.0.nupkg
/Chapter#15/ControllersAndRoutes/packages/Microsoft.AspNet.WebApi.Client.4.0.30506.0/Microsoft.AspNet.WebApi.Client.4.0.30506.0.nupkg
/Chapter#15/ControllersAndRoutes/packages/Microsoft.AspNet.WebApi.Client.ru.4.0.30506.0/Microsoft.AspNet.WebApi.Client.ru.4.0.30506.0.nupkg
/Chapter#15/ControllersAndRoutes/packages/Microsoft.AspNet.WebApi.Client.ru.4.0.30506.0/lib/net40/ru/System.Net.Http.Formatting.resources.dll
/Chapter#15/ControllersAndRoutes/packages/Microsoft.AspNet.WebApi.Client.ru.4.0.30506.0/lib/net40/ru/System.Net.Http.Formatting.xml
/Chapter#15/ControllersAndRoutes/packages/Microsoft.AspNet.WebApi.Core.ru.4.0.30506.0/Microsoft.AspNet.WebApi.Core.ru.4.0.30506.0.nupkg
/Chapter#15/ControllersAndRoutes/packages/Microsoft.AspNet.WebApi.Core.ru.4.0.30506.0/lib/net40/ru/System.Web.Http.resources.dll
/Chapter#15/ControllersAndRoutes/packages/Microsoft.AspNet.WebApi.Core.ru.4.0.30506.0/lib/net40/ru/System.Web.Http.xml
/Chapter#15/ControllersAndRoutes/packages/Microsoft.AspNet.WebApi.WebHost.4.0.30506.0/Microsoft.AspNet.WebApi.WebHost.4.0.30506.0.nupkg
/Chapter#15/ControllersAndRoutes/packages/Microsoft.AspNet.WebApi.WebHost.4.0.30506.0/lib/net40/System.Web.Http.WebHost.dll
/Chapter#15/ControllersAndRoutes/packages/Microsoft.AspNet.WebApi.WebHost.4.0.30506.0/lib/net40/System.Web.Http.WebHost.xml
/Chapter#15/ControllersAndRoutes/packages/Microsoft.AspNet.WebApi.WebHost.4.0.30506.0/lib/net40/ru/System.Web.Http.WebHost.resources.dll
/Chapter#15/ControllersAndRoutes/packages/Microsoft.AspNet.WebApi.WebHost.4.0.30506.0/lib/net40/ru/System.Web.Http.WebHost.xml
/Chapter#15/ControllersAndRoutes/packages/Microsoft.AspNet.WebApi.WebHost.ru.4.0.30506.0/Microsoft.AspNet.WebApi.WebHost.ru.4.0.30506.0.nupkg
/Chapter#15/ControllersAndRoutes/packages/Microsoft.AspNet.WebApi.WebHost.ru.4.0.30506.0/lib/net40/ru/System.Web.Http.WebHost.resources.dll
/Chapter#15/ControllersAndRoutes/packages/Microsoft.AspNet.WebApi.WebHost.ru.4.0.30506.0/lib/net40/ru/System.Web.Http.WebHost.xml
/Chapter#15/ControllersAndRoutes/packages/Microsoft.AspNet.WebPages.2.0.30506.0/Microsoft.AspNet.WebPages.2.0.30506.0.nupkg
/Chapter#15/ControllersAndRoutes/packages/Microsoft.AspNet.WebPages.2.0.30506.0/lib/net40/System.Web.Helpers.dll
/Chapter#15/ControllersAndRoutes/packages/Microsoft.AspNet.WebPages.2.0.30506.0/lib/net40/System.Web.Helpers.xml
/Chapter#15/ControllersAndRoutes/packages/Microsoft.AspNet.WebPages.2.0.30506.0/lib/net40/System.Web.WebPages.Deployment.dll
/Chapter#15/ControllersAndRoutes/packages/Microsoft.AspNet.WebPages.2.0.30506.0/lib/net40/System.Web.WebPages.Deployment.xml
/Chapter#15/ControllersAndRoutes/packages/Microsoft.AspNet.WebPages.2.0.30506.0/lib/net40/System.Web.WebPages.Razor.dll
/Chapter#15/ControllersAndRoutes/packages/Microsoft.AspNet.WebPages.2.0.30506.0/lib/net40/System.Web.WebPages.Razor.xml
/Chapter#15/ControllersAndRoutes/packages/Microsoft.AspNet.WebPages.2.0.30506.0/lib/net40/System.Web.WebPages.dll
/Chapter#15/ControllersAndRoutes/packages/Microsoft.AspNet.WebPages.2.0.30506.0/lib/net40/System.Web.WebPages.xml
/Chapter#15/ControllersAndRoutes/packages/Microsoft.AspNet.WebPages.2.0.30506.0/lib/net40/ru/System.Web.Helpers.resources.dll
/Chapter#15/ControllersAndRoutes/packages/Microsoft.AspNet.WebPages.2.0.30506.0/lib/net40/ru/System.Web.WebPages.Deployment.resources.dll
/Chapter#15/ControllersAndRoutes/packages/Microsoft.AspNet.WebPages.2.0.30506.0/lib/net40/ru/System.Web.WebPages.Razor.resources.dll
/Chapter#15/ControllersAndRoutes/packages/Microsoft.AspNet.WebPages.2.0.30506.0/lib/net40/ru/System.Web.WebPages.resources.dll
/Chapter#15/ControllersAndRoutes/packages/Microsoft.AspNet.WebPages.2.0.30506.0/lib/net40/ru/system.web.helpers.xml
/Chapter#15/ControllersAndRoutes/packages/Microsoft.AspNet.WebPages.2.0.30506.0/lib/net40/ru/system.web.webpages.deployment.xml
/Chapter#15/ControllersAndRoutes/packages/Microsoft.AspNet.WebPages.2.0.30506.0/lib/net40/ru/system.web.webpages.razor.xml
/Chapter#15/ControllersAndRoutes/packages/Microsoft.AspNet.WebPages.2.0.30506.0/lib/net40/ru/system.web.webpages.xml
/Chapter#15/ControllersAndRoutes/packages/Microsoft.AspNet.WebPages.ru.2.0.30506.0/Microsoft.AspNet.WebPages.ru.2.0.30506.0.nupkg
/Chapter#15/ControllersAndRoutes/packages/Microsoft.AspNet.WebPages.ru.2.0.30506.0/lib/net40/ru/System.Web.Helpers.resources.dll
/Chapter#15/ControllersAndRoutes/packages/Microsoft.AspNet.WebPages.ru.2.0.30506.0/lib/net40/ru/System.Web.WebPages.Deployment.resources.dll
/Chapter#15/ControllersAndRoutes/packages/Microsoft.AspNet.WebPages.ru.2.0.30506.0/lib/net40/ru/System.Web.WebPages.Razor.resources.dll
/Chapter#15/ControllersAndRoutes/packages/Microsoft.AspNet.WebPages.ru.2.0.30506.0/lib/net40/ru/System.Web.WebPages.resources.dll
/Chapter#15/ControllersAndRoutes/packages/Microsoft.AspNet.WebPages.ru.2.0.30506.0/lib/net40/ru/system.web.helpers.xml
/Chapter#15/ControllersAndRoutes/packages/Microsoft.AspNet.WebPages.ru.2.0.30506.0/lib/net40/ru/system.web.webpages.deployment.xml
/Chapter#15/ControllersAndRoutes/packages/Microsoft.AspNet.WebPages.ru.2.0.30506.0/lib/net40/ru/system.web.webpages.razor.xml
/Chapter#15/ControllersAndRoutes/packages/Microsoft.AspNet.WebPages.ru.2.0.30506.0/lib/net40/ru/system.web.webpages.xml
/Chapter#15/ControllersAndRoutes/packages/Microsoft.Net.Http.2.0.20710.0/Microsoft.Net.Http.2.0.20710.0.nupkg
/Chapter#15/ControllersAndRoutes/packages/Microsoft.Net.Http.2.0.20710.0/lib/net40/System.Net.Http.WebRequest.dll
/Chapter#15/ControllersAndRoutes/packages/Microsoft.Net.Http.2.0.20710.0/lib/net40/System.Net.Http.WebRequest.xml
/Chapter#15/ControllersAndRoutes/packages/Microsoft.Net.Http.2.0.20710.0/lib/net40/System.Net.Http.dll
/Chapter#15/ControllersAndRoutes/packages/Microsoft.Net.Http.2.0.20710.0/lib/net40/System.Net.Http.xml
/Chapter#15/ControllersAndRoutes/packages/Microsoft.Net.Http.2.0.20710.0/lib/net40/ru/System.Net.Http.WebRequest.resources.dll
/Chapter#15/ControllersAndRoutes/packages/Microsoft.Net.Http.2.0.20710.0/lib/net40/ru/System.Net.Http.WebRequest.xml
/Chapter#15/ControllersAndRoutes/packages/Microsoft.Net.Http.2.0.20710.0/lib/net40/ru/System.Net.Http.resources.dll
/Chapter#15/ControllersAndRoutes/packages/Microsoft.Net.Http.2.0.20710.0/lib/net40/ru/System.Net.Http.xml
/Chapter#15/ControllersAndRoutes/packages/Microsoft.Net.Http.2.0.20710.0/lib/net45/_._
/Chapter#15/ControllersAndRoutes/packages/Microsoft.Net.Http.ru.2.0.20710.0/Microsoft.Net.Http.ru.2.0.20710.0.nupkg
/Chapter#15/ControllersAndRoutes/packages/Microsoft.Net.Http.ru.2.0.20710.0/lib/net40/ru/System.Net.Http.WebRequest.resources.dll
/Chapter#15/ControllersAndRoutes/packages/Microsoft.Net.Http.ru.2.0.20710.0/lib/net40/ru/System.Net.Http.WebRequest.xml
/Chapter#15/ControllersAndRoutes/packages/Microsoft.Net.Http.ru.2.0.20710.0/lib/net40/ru/System.Net.Http.resources.dll
/Chapter#15/ControllersAndRoutes/packages/Microsoft.Net.Http.ru.2.0.20710.0/lib/net40/ru/System.Net.Http.xml
/Chapter#15/ControllersAndRoutes/packages/Microsoft.Web.Infrastructure.1.0.0.0/Microsoft.Web.Infrastructure.1.0.0.0.nupkg
/Chapter#15/ControllersAndRoutes/packages/Microsoft.Web.Infrastructure.1.0.0.0/lib/net40/Microsoft.Web.Infrastructure.dll
/Chapter#15/ControllersAndRoutes/packages/Newtonsoft.Json.4.5.11/Newtonsoft.Json.4.5.11.nupkg
/Chapter#15/ControllersAndRoutes/packages/Newtonsoft.Json.4.5.11/lib/net20/Newtonsoft.Json.dll
/Chapter#15/ControllersAndRoutes/packages/Newtonsoft.Json.4.5.11/lib/net20/Newtonsoft.Json.xml
/Chapter#15/ControllersAndRoutes/packages/Newtonsoft.Json.4.5.11/lib/net35/Newtonsoft.Json.dll
/Chapter#15/ControllersAndRoutes/packages/Newtonsoft.Json.4.5.11/lib/net35/Newtonsoft.Json.xml
/Chapter#15/ControllersAndRoutes/packages/Newtonsoft.Json.4.5.11/lib/net40/Newtonsoft.Json.dll
/Chapter#15/ControllersAndRoutes/packages/Newtonsoft.Json.4.5.11/lib/net40/Newtonsoft.Json.xml
/Chapter#15/ControllersAndRoutes/packages/Newtonsoft.Json.4.5.11/lib/portable-net40%2Bsl4%2Bwp7%2Bwin8/Newtonsoft.Json.dll
/Chapter#15/ControllersAndRoutes/packages/Newtonsoft.Json.4.5.11/lib/portable-net40%2Bsl4%2Bwp7%2Bwin8/Newtonsoft.Json.xml
/Chapter#15/ControllersAndRoutes/packages/Newtonsoft.Json.4.5.11/lib/portable-net40+sl4+wp7+win8/Newtonsoft.Json.dll
/Chapter#15/ControllersAndRoutes/packages/Newtonsoft.Json.4.5.11/lib/portable-net40+sl4+wp7+win8/Newtonsoft.Json.xml
/Chapter#15/ControllersAndRoutes/packages/Newtonsoft.Json.4.5.11/lib/sl3-wp/Newtonsoft.Json.dll
/Chapter#15/ControllersAndRoutes/packages/Newtonsoft.Json.4.5.11/lib/sl3-wp/Newtonsoft.Json.xml
/Chapter#15/ControllersAndRoutes/packages/Newtonsoft.Json.4.5.11/lib/sl4-windowsphone71/Newtonsoft.Json.dll
/Chapter#15/ControllersAndRoutes/packages/Newtonsoft.Json.4.5.11/lib/sl4-windowsphone71/Newtonsoft.Json.xml
/Chapter#15/ControllersAndRoutes/packages/Newtonsoft.Json.4.5.11/lib/sl4/Newtonsoft.Json.dll
/Chapter#15/ControllersAndRoutes/packages/Newtonsoft.Json.4.5.11/lib/sl4/Newtonsoft.Json.xml
/Chapter#15/ControllersAndRoutes/packages/Newtonsoft.Json.4.5.11/lib/winrt45/Newtonsoft.Json.dll
/Chapter#15/ControllersAndRoutes/packages/Newtonsoft.Json.4.5.11/lib/winrt45/Newtonsoft.Json.xml
/Chapter#15/ControllersAndRoutes/packages/repositories.config
