/Chapter#7-#11/SportsStore/SportsStore.WebUI/bin
/Chapter#7-#11/SportsStore/SportsStore.Domain/bin/Debug
/Chapter#7-#11/SportsStore/SportsStore.Domain/obj/Debug
/Chapter#7-#11/SportsStore/SportsStore.WebUI/obj/Debug
/Chapter#7-#11/SportsStore/SportsStore.WebUI.Tests/bin/Debug
/Chapter#7-#11/SportsStore/SportsStore.WebUI.Tests/obj/Debug
/Chapter#6/EssentialTool/EssentialTool.Tests/bin/Debug

