@model MvcModels.Models.AddressSummary

@{
    ViewBag.Title = "Address Summary";
}

<h2>Address Summary</h2>

<div>@Html.LabelFor(m => m.City) @Html.DisplayFor(m => m.City)</div>
<div>@Html.LabelFor(m => m.Country) @Html.DisplayFor(m => m.Country)</div>